/.idea
/.sass-cache
/log
/downWebs
/uploadTemp
Window7.rar
services.db3

clients/software/ECMAScript6/*/node_modules
clients/software/ECMAScript6/reactJS/node_modules
clients/software/ECMAScript6/vueJS/node_modules