.angular-base>*{
    margin: 2%;
    border: 1px solid #999999;
}

.angular-directive>*{
    margin: 2%;
    border: 1px solid #999999;
}

.angular-directive>div{
    background: #99ff99;
    padding: 5px;
}

.angular-configuration>*{
    margin: 2%;
    border: 1px solid #999999;
}
.angular-test>*{
    margin: 2%;
    border: 1px solid #999999;
}