<div class="header">
    <div><span class="header-title">{{title+'Menu' | language}}</span></div>
    <div class="right">
        <div class="actions" ng-if="toolbars.length">
            <a ng-repeat="toolbar in toolbars" class="action fa {{toolbar.class}} pointer" ng-click="toolbar.fn()" ng-disabled="toolbar.filter()" title="{{toolbar.info| language}}" sino-use-id="toolbar.info">{{toolbar.title| language}}</a>
        </div>
        <div class="search" ng-if="search" ng-init="showSearch=(!!download+!!search)===1">
            <i class="action fa fa-filter pointer col-md-1" ng-show="(!!download+!!search)>1" ng-class="{'helper-icon':filter.search}" ng-click="showSearch = !showSearch" title="{{'search'| language}}" sino-use-id="'search'"></i>
            <div ng-show="showSearch" ng-class="{'content':(!!download+!!search)>1}">
                <select ng-if="searchColumns.length" ng-model="filter.searchBy"><option ng-repeat="op in searchColumns" value="{{op.field}}">{{op.title | language}}</option></select>
                <a class="search icon" ng-click="refreshData()">
                    <input ng-model="filter.search" placeholder="Search" ng-keypress="search($event)" sino-use-id>
                </a>
            </div>
        </div>
        <div class="download" ng-if="download">
            <i class="action fa fa-download pointer col-md-1" ng-click="download()" title="{{'download'| language}}" sino-use-id="'download'"></i>
            <div class="col-md-4">
                <input class="form-control" ng-model="filter.endDate" sino-datepicker placeholder="End Time" ng-change="refreshData()" sino-use-id>
            </div>
            <span class="static-text"> - </span>
            <div class="col-md-4">
                <input class="form-control" ng-model="filter.startDate" sino-datepicker placeholder="Start Time" ng-change="refreshData()" sino-use-id>
            </div>

        </div>
    </div>

</div>
<div class="content">
    <table>
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th  ng-repeat="column in columns" ng-hide="column.hide" class="pointer" ng-click="!notSort &&!column.notSort && sortColumn(column)" ng-class="{'first-col':$first}" width="{{column.width}}" sino-use-id="column.title">
                {{column.title | language}}
                	<span ng-if="column.actions">
						<a ng-repeat="action in column.actions" ng-click="action.fn()" sino-use-id="column.width +'-'+action.title">{{action.title| language}}</a>
					</span>
                <span class="sort-arrow" ng-show="!notSort && !column.notSort" ng-class="{'fa fa-sort-down': column.isAscending, 'fa fa-sort-up': !column.isAscending,'fa-no-active':filter.sortBy !== column.field }"></span>
            </th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody ng-if="dataList.length">
        <tr ng-repeat="item in dataList" ng-class="{'selected-item':isDebug && item === selectedItem}" ng-click="setSelected(item)" ng-dblclick="operate(item)" sino-use-id="'row-'+$index">
            <td>
                <a class="fa" ng-class="{'fa-hand-o-right':isDebug && item === selectedItem}"></a>
            </td>
            <td ng-repeat="column in columns" ng-hide="column.hide">
                <div sino-tooltip="column.tooltip" ng-bind="getValue(item,column)"></div>
            </td>
            <td class="action-btn">
                <a class="whitespace-normal" ng-repeat="action in actions" ng-click="!action.disable(item) &&action.fn(item)" title="{{action.title| language}}" ng-class="{'c-gray':action.disable(item)}" sino-use-id="action.title+'-'+$parent.$index">
                    <i class="fa fa-fw {{action.class}}"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <form>
        <div ng-repeat="row in rows" class="row">
            <div class="sino-title inline-table font-weight"><span>{{row.title | language}}</span></div>
            <div class="sino-value inline-table text-success"><span>&nbsp; {{ getValue(form,row)}}</span></div>
        </div>
    </form>
</div>
<div class="footer">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <ul class="pagination-sm pagination pointer" ng-if="totalPage>1"  page-show-length="10" sino-use-id="pagination">
            <li ng-class="{disabled: filter.pageNumber === 1}"><a ng-click="filter.pageNumber > 1 && goPage(1)" sino-use-id="'firstPage'">{{'firstPage'| language}}</a></li>
            <li ng-class="{disabled: filter.pageNumber === 1}"><a ng-click="filter.pageNumber > 1 && goPage(filter.pageNumber -1)" sino-use-id="'previousPage'">{{'previousPage'| language}}</a></li>
            <li ng-class="{active: filter.pageNumber === page }" ng-repeat="page in totalPage|toArray:pageShowLength"><a ng-click="filter.pageNumber!=page && goPage(page)" sino-use-id="'page-'+page">{{page}}</a></li>
            <li ng-class="{disabled: filter.pageNumber === 1}"  ng-if="totalPage>pageShowLength*2"><a>...</a></li>
            <li ng-if="totalPage>pageShowLength*2"><input title="" sino-input="[0-9]" ng-model="filter.pageNumber" ng-keyup="$event.keyCode === 13 && goPage(filter.pageNumber)" sino-use-id></li>
            <li ng-class="{disabled: filter.pageNumber === 1}"  ng-if="totalPage>pageShowLength*2"><a>...</a></li>
            <li ng-class="{active: filter.pageNumber === page }" ng-repeat="page in totalPage|toArray:-pageShowLength"><a ng-click="filter.pageNumber!=page && goPage(page)" sino-use-id="'page-'+page">{{page}}</a></li>
            <li ng-class="{disabled: filter.pageNumber === totalPage}"><a ng-click="filter.pageNumber < totalPage && goPage(filter.pageNumber +1)" sino-use-id="'nextPage'">{{'nextPage'| language}}</a></li>
            <li ng-class="{disabled: filter.pageNumber === totalPage}"><a ng-click="filter.pageNumber < totalPage && goPage(totalPage)" sino-use-id="'lastPage'">{{'lastPage'| language}}</a></li>
        </ul>
    </div>
    <div class="col-md-2">

    </div>
</div>